.section4 {
    z-index: 3;
    background: #fff;
    padding-top: 70px;
    padding: 70px 10px 0px 10px;
    &-wrap {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include w-mobile {
            height: 70%;
        }
    }

    &-video {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;   

        &__img {
            @include setTransition;
            width: 100%;
        }

        &__button {
            content: url('../img/section4/icon_play.svg');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);

            @include w-mobile {
                height: 100px;
                width: 100px;
            }
        }
    }

    // * Классы для анимации переходов

    &.coming {
        .section4 {
            &-video {
                animation: 2s comingAnim forwards;

                &__button {
                    animation: 2s section4ButtonComingAnim .5s forwards;
                }
            }


            @keyframes section4ButtonComingAnim {
                0% {
                    transform: translateX(calc(50% + 200px)) translateY(-50%); 
                }
                
                100% {
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }
    }

    &.outgoing {
        .section4 {
           &-video__img {
               transform: scale(1.2);
           }
        }
    }
}