.section5 {
    z-index: 4;
    background: #fff;
    position: relative;

    // * Parallax

    &-parallax {
        &-container {
            left: 780px;
            top: 140px;
            width: 1110px;
            height: 742px;
        }
        &__img {
            position: absolute;
            &.img {
                &-2 {
                    top: 179px;
                    left: 585px;
                }
                &-3 {
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }

    // * Компоненты

    &-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 1301px) {
            padding-top: 100px;
        }
    }

    &-picture {
        display: flex;
        flex-basis: 49%;
        overflow: hidden;
        position: relative;
        &__bg {
            @media (max-width: 1301px) {
                display: none;
            }
        }
        &__tea {
            left: 10px;
            bottom: 0;
            position: absolute;
            @media (max-width: 1790px) {
                left: -250px;
            }
            @media (max-width: 1301px) {
                height: 100%;
                position: static;
            }
        }
        @media (max-width: 1301px) {
            flex-basis: 100%;
            height: 300px;
            order: 2;
            justify-content: center;
        }
    }

    &-text {
        z-index: 2;
        flex-basis: 49%;
        padding-left: 30px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @media (max-width: 1301px) {
            padding: 0 10px;
            flex-basis: 100%;
            text-align: center;
            align-items: center;

            margin-bottom: 20px;
        }
    }

    &-button-wrap {
        max-width: 270px;
    }

    &__button {
        position: relative;
        padding: 21px 25px;
        margin-left: 10px;
        font-size: 1.8rem;
        line-height: 3rem;
        font-family: "OpiumNewC";
        font-weight: bold;

        cursor: pointer;
        
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #066035;
        background: #fff;

        $border: 10px;
        background-clip: padding-box;
        border: $border transparent;
        
        &::before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -$border;
            background: $gradient;
        }
        
        &::after {
            content: 'Перейти к коллекции';
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity .3s;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: 0;
            font-size: 1.8rem;
            line-height: 3rem;
            font-family: "OpiumNewC";
            color: #fff;
            margin: -$border;
            background: $gradient;
        }

        &:hover {
            &:after {
                // display: flex;
                opacity: 1;
            }
        }
    }

    // * Классы для анимации переходов

    &.coming {
        .section5 {
            &-picture__tea {
                animation: 2s comingAnim backwards;
            }
            
            &__title {
                animation: 2s comingAnim .6s backwards;
            }
            
            &__subtitle {
                animation: 2s comingAnim .3s backwards;
            }
            
            &-button-wrap {
                animation: 2s comingAnim backwards;
            }
        }
    }

    &.outgoing {
        .section4 {
           &-video__img {
               transform: scale(1.2);
           }
        }
    }
}