.section2 {
    position: relative;

    display: flex;
    align-items: center;

    padding: 0 7.7vw;
    padding-top: 118px;

    z-index: 1;

    @include w-tablet {
        padding: 5px;
        padding-top: 100px;
    }

    // * Кружка в правом углу

    &::before {
        content: url('../img/section2/bottom_cup.jpg');
        overflow: hidden;
        @include setTransition(transform);

        position: absolute;
        right: 50px;
        bottom: -5px;

        height: 20vh;
        width: 600px;

        @include w-1080 {
            display: none;
        }

        @media (max-width: 1280px) {
            display: none;
        }
    }

    // * parallax

    &-parallax {
        &-container {
            position: absolute;
            width: 1243.53px;
            height: 911.85px;
            left: 492px;
            right: 184px;
            top: 130px;
        }
        &__img {
            position: absolute;
            &.img {
                &-1 {
                    transform: rotate(-10.29deg);
                }
                &-2 {
                    left: 484px;
                    bottom: 0;
                    transform: rotate(-13.56deg);
                }
                &-3 {
                    right: 0;
                    top: 476px;
                    transform: rotate(-104.44deg);
                }
            }
        }
    }

    // * Компоненты

    &-wrap {
        display: flex;
        align-items: center;

        @include w-tablet {
            flex-direction: column;
        }
    }

    &__img {
        @include setTransition(transform);
        z-index: 1;
        width: calc(400px + 10vmin);
        margin-right: 100px;

        @include w-1080 {
            width: 300px;
            margin-right: 50px;
        }

        @include w-tablet {
            margin-right: 0;
            width: 300px;
        }

        @include w-mobile {
            display: none;
        }
    }

    &-text {
        max-width: 1050px;
        z-index: 4;

        @include w-tablet {
            text-align: center;
        }
    }

    // * Классы для анимации переходов

    &.coming {
        .section2 {
            &-parallax-wrap {
                animation: 2s comingParallaxAnim .3s backwards;
            }

            &__img {
                animation: comingAnim 2s backwards;
            }

            &__title {
                animation: 2s comingAnim .5s backwards;
            }
            
            &__subtitle {
                animation: 2s comingAnim .3s backwards;
            }
        }
    }

    &.outgoing {
        .section2 {
            &__img {
                transform: scale(1.1);
            }
            
            &__title {
                animation: 2s outgoingAnim forwards;
            }
            
            &__subtitle {
                animation: 2s outgoingAnim .3s forwards;
            }
        }
        &::before {
            transform: scale(1.1);
        }
    }
}
