mixin header()
    header.header
        .header__button.button-nav
            .button-wrap
                .button__line
                .button__line
                .button__line
        .header__logo.white
        .header__button.button-lang En