mixin nav()
    nav.nav
        .nav-wrap
            .nav-close
                img(src="img/nav/close.svg", alt="close")
            .nav-column
                .nav-block
                    a(href="#").nav__link Философии
                    a(href="#").nav__link Коллекции
                    a(href="#").nav__link Мой Greenfield
                    a(href="#").nav__link Что нового
                .nav-block
                    a(href="#").nav__link-small Представительства В Мире
                    a(href="#").nav__link-small Оптовым клиентам
                    a(href="#").nav__link-small Обратная связь
            .nav-column
                .nav-block
                    .nav__link Контакты
                    .nav__link-small GREENFIELD TEA Ltd., London, W1U 2HQ, UK
                .nav-block
                    a(href="email:yourmail@greenfield.uk").nav__link-small Email: yourmail@greenfield.uk
                    a(href="tel:+735687359868").nav__link-small Phone: +7 (356) 873 598 68
                    a(href="tel:+735676594534").nav__link-small Fax: +7 (356) 765 945 34
                .nav-block
                    .nav__link.nav-social__title Мы в социальных сетях
                    .nav-social-links
                        a(href="#").nav-social__link.twitter
                            img(src="img/nav/twitter.svg", alt="twitter")
                        a(href="#").nav-social__link.instagram
                            img(src="img/nav/instagram.svg", alt="instagram")
                        a(href="#").nav-social__link.vk
                            img(src="img/nav/vk.svg", alt="vk")
