mixin section5()
    section.section.section5
        .parallax-container.section5-parallax-container
            .parallax-item(data-depth="0.25")
                img(src="img/section5/parallax/leaf1.png", alt="leaf").section5-parallax__img.img-1
            .parallax-item(data-depth="0.6")
                img(src="img/section5/parallax/leaf2.png", alt="leaf").section5-parallax__img.img-2
            .parallax-item(data-depth="0.85")
                img(src="img/section5/parallax/leaf3.png", alt="leaf").section5-parallax__img.img-3
        .section5-wrap
            .section5-picture
                img(src="img/section5/img_bg.jpg", alt="bg").section5-picture__bg
                img(src="img/section5/tea_box.png", alt="tea box").section5-picture__tea
            .section5-text
                h2.title.section5__title Разнообразный мир Greenfield.
                h3.subtitle.section5__subtitle Познакомьтесь со всей коллекцией чая, она объединяет изысканные сорта черного и зеленого чая, чай оолонг и великолепные чайные композиции с натуральными фруктами, ягодами, травами и специями. Здесь вы точно найдете ваш  личный источник вдохновения и гармонии внутри...
                .section5-button-wrap
                    button.section5__button Перейти к коллекции
