mixin section2()
    section.section.section2
        .parallax-wrap.section2-parallax-wrap
            .parallax-container.section2-parallax-container
                .parallax-item(data-depth="0.25")
                    img(src="img/section2/parallax/leaf1.png", alt="leaf").section2-parallax__img.img-1
                .parallax-item(data-depth="0.6")
                    img(src="img/section2/parallax/leaf2.png", alt="leaf").section2-parallax__img.img-2
                .parallax-item(data-depth="0.85")
                    img(src="img/section2/parallax/leaf3.png", alt="leaf").section2-parallax__img.img-3
        .section2-wrap
            img(src="img/section2/main_cup.jpg", alt="cup").section2__img
            .section2-text
                h2.title.section2__title Ускользающее мгновение, воплощенное в чашечке чая... 
                h3.subtitle.section2__subtitle Среди бесконечного разнообразия чая есть сорта, имеющие особое значение. И только они таят особый магнетизм, который заставляет следовать совету Оскара Уайльда, считавшего, что существует лишь единственный способ противостоять искушению – поддаться ему.
                span.number 002
