mixin section3()
    section.section.section3
        .parallax-wrap.section3-parallax-wrap
            .parallax-container.section3-parallax-container
                .parallax-item(data-depth="0.25")
                    img(src="img/section3/parallax/leaf1.png", alt="leaf").section3-parallax__img.img-1
                .parallax-item(data-depth="0.6")
                    img(src="img/section3/parallax/leaf2.png", alt="leaf").section3-parallax__img.img-2
                .parallax-item(data-depth="0.85")
                    img(src="img/section3/parallax/leaf3.png", alt="leaf").section3-parallax__img.img-3
        .section3-wrap
            .section3-text
                h2.title.section3__title Красота вечно изменчивой природы.
                h3.subtitle.section3__subtitle Неподвластные мимолетному дыханию популярности, сорта чая обладают той высокой мерой вкуса, которая рождается из сочетания традиций, совершенства обработки чайных листьев и красоты вечно изменчивой природы.
                span.number 003