mixin section1()
    section.section.section1
        .section1-bg
        .section1-wrap
            .section1-text
                h1.section1__title Обретая Гармонию. Обретая себя.
                h3.section1__subtitle Погрузитесь в философию Greenfield