mixin section4()
    section.section.section4
        .section4-wrap
            .section4-video
                img(src="img/section4/video.jpg", alt="video").section4-video__img
                .section4-video__button