include ../global/head.pug
//- include ../components/footer.pug
include ../global/scripts.pug

include ../components/header.pug
include ../components/section1.pug
include ../components/section2.pug
include ../components/section3.pug
include ../components/section4.pug
include ../components/section5.pug
include ../components/nav.pug


doctype html
html(lang="ru")
  +head('Greenfield')
  body
    +nav
    +header
    .slider
      .carousel.slide1
        +section1
        +section2
        +section3
        +section4
        +section5
    //- +footer
    +scripts('https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js')
    +scripts('js/lib/hammer.min.js')
    +scripts('js/main.js')