// * ======================================== * //
$activeColor: #000; // Цвета сайта
$gradient: linear-gradient(#066035, #074627);
@mixin setTransition($propertys: null) {
    transition: $propertys 2s ease;
}
// * ======================================== * //

html, body {
    overflow: hidden;
    min-height: 100vh;
    font-size: 10px;

    @include w-1080 {
        font-size: 8px;
    }
}

.section {
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
}

.title {
    font-family: Playfair Display;
    font-size: calc(4.5rem + 2.5vmin);
    line-height: calc(4.5rem + 2.5vmin);
    color: #393838;

    margin-bottom: calc(3.5rem + 2.5vmin);
    @include w-1080 {
        font-size: 5.5rem;
        line-height: 5.5rem;
    }
}

.subtitle {
    font-family: Ubuntu;
    font-size: 1.8rem;
    line-height: 3rem;
    max-width: 900px;
    color: #393838;

    letter-spacing: -0.2px;

    margin-bottom: 7rem;
}

.number {
    font-family: Petersburg;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    /* or 129% */

    display: flex;
    align-items: center;
    letter-spacing: -0.28341px;

    color: #CCDACF
}

.img-overflow {
    overflow: hidden;
}

// * parallax

.parallax {
    &-wrap {
        z-index: 2;
        top: 0;
        left: 0;
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
    &-container {
        position: absolute;
    }
    &-item {
        position: relative;
        height: 100%;
        width: 100%;
    }
}

// * keyframes главной анимации появления
@keyframes comingAnim {
    0% {
        transform: translateX(200px);
    }
    
    100% {
        transform: translateX(0);
    }
}

@keyframes comingParallaxAnim {
    0% {
        transform: translateX(500px);
    }
    
    100% {
        transform: translateX(0);
    }
}

@keyframes outgoingAnim {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-200px);
    }
}